<!DOCTYPE html>
<html>
<head>
  <title>ErrorCatcher</title>
  <%= stylesheet_link_tag    "error_catcher/application", media: "all" %>
  <%= javascript_include_tag "error_catcher/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
